build/projekt_liste/PYZ-00.pyz
build/projekt_liste/PYZ-00.toc
*.toc
build/projekt_liste/PKG-00.toc
*.toc
*.toc
*.toc
build/projekt_liste/xref-projekt_liste.html
*.pyc
*.PKG
venv/
DonnerstagSep.12/APICalltest.py
DonnerstagSep.12/APICall.py
dist/projekt_auto.exe
dist/projekt_liste.exe
build/projekt_liste/base_library.zip
build/
projekt_liste.spec
llm_ollama/Lib/site-packages/pandocfilters.py
llm_ollama/Lib/site-packages/_cffi_backend.cp312-win_amd64.pyd
llm_ollama/Lib/site-packages/distutils-precedence.pth
ollama_venv/
To-Do.md
